<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="icon" href="/public/icon.png">
  </head>
  <nav>
    <h1>REGISTRATION NUMBERS</h1>
  </nav>
  <body>
    <div class="logo" style="float: left; position: fixed">
      <img src="/public/bartPeeking.png" style="float: left; margin: -10px" width="90" align="bottom">&trade;
    </div>
    {{{body}}}
  </body>
</html>
