<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="icon" href="public/img/icon.png">
  </head>
  <nav>
    <h1>REGISTRATION NUMBERS</h1>
  </nav>
  <body>
    <div class="logo" style="float: left; position: fixed">
      <img src="public/img/bartPeeking.png" style="float: left; margin: -10px" width="90" align="bottom">&trade;
    </div>
    {{{body}}}
  </body>
  <br>
  <footer>
  <div class="footer-content" style="color: #fff">
      site By: Zikisa Cale Sogaxa
      <br>
      <a class="instagram-icon" href="https://www.instagram.com/sogaxa_zikisa/" target="_blank"><img src = "public/img/Instagram-PNG-File.png" width="40" title="@zikisa_sogaxa" height="40"/></a>
      <a href="https://www.facebook.com/sogaxacale" target="_blank"><img src="public/img/Facebook-Transparent.png" title="zikisa cale sogaxa" width="40" height="40"/></a>
      <a href="https://www.linkedin.com/in/zikisacalesogaxa/" target="_blank"><img src="public/img/Linkedin.png" title="zikisa cale sogaxa" width="40" height="40"></a>
  </div>
</footer>
</html>
