<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/styles.css">
  </head>
  <nav>
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/reg_numbers"><li>Registration Numbers</li></a>
    </ul>
  </nav>
  <body>
    {{{body}}}
  </body>
</html>
